.borderPane{
    -fx-background: #ffffff;
}
.title {
    -fx-padding: 15px;
    -fx-color:black;
    -fx-font-size: 25px;
    -fx-text-alignment: center;
}

.button {
    -fx-padding: 5px 15px;
    -fx-border-color: #747474;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}
.submitButton{
    -fx-background-color: #61a910;
    -fx-border-color: #747474;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-text-fill: white;
}
.label{
    -fx-font-size: 16px;
}
.welcomeLabel {
    -fx-padding: 15px 0px 20px 0px;
    -fx-color:black;
    -fx-font-size: 22px;
    -fx-text-alignment: center;
    -fx-font-weight: 800;
}
.foundLabel {
    -fx-padding: 15px 0px 20px 0px;
    -fx-text-fill:black;
    -fx-font-size: 22px;
    -fx-text-alignment: center;
    -fx-font-weight: 800;
}
.notFoundLabel {
    -fx-padding: 15px 0px 20px 0px;
    -fx-text-fill:red;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
    -fx-font-weight: 800;
}
.searchControlsPanel{
    -fx-padding: 15px 50px;
    -fx-background-color: f4f4f4;
}
.infoPane{
    -fx-background-color: white;
}
.searchPanelLayout{
    -fx-background-color: white;
    -fx-padding: 10px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #d6d6d6;
}
.searchPanelLabel{
    -fx-font-weight: 800;
}
.searchField{
    -fx-padding: 9px 0px 10px 0px;
}
.newCafeButton{
    -fx-text-fill: white;
    -fx-background-color: #22a2d0;
}

.detailButton{
    -fx-text-fill: white;
    -fx-background-color: #22a2d0;
    -fx-font-size: 14px;
}